/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Passion One', cursive; */

body{
    font-family: 'Poppins', sans-serif;
}
       
.bg_cl {
	overflow: hidden;
	margin-top: 30px;
	padding: 0 30px 15px 30px;
	background-color: #5a5284;
	border-radius: 30px;
}
.logo{
    color: #CEDF00 !important;
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 50px !important;
}
.menu{

}
.menu ul{
    
}
.menu ul li{
    margin-right: 50px;
    transition: .3s;
}
.menu ul li:last-child{
    margin-right: 0;
}
.menu ul li a{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}
.menu ul li:hover a{
    font-size: 20px;
    color: #CEDF00;
}

/* banner */
.banner{
    padding: 100px 0 0 0;
}
.b_left{

}
.b_left h3 {
	color: white;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 120px;
}
.b_left h2{
    font-size: 70px;
    font-weight: 700;
    color: #CEDF05;
    text-transform: uppercase;
    margin-bottom: 0;
}
.b_left p {
	color: white;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 80px;
}
.b_left .buton{
    color: white;
    background-color: #CEDF05;
    border-radius: 50px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 700;
    transition: .3s;
}
.b_left .buton:hover{
    color:  #CEDF05;
    background-color: white;
}
.social{
    margin-top: 175px;
}
.social a{
    color: white;
    margin-right: 20px;
}
.social a i{
    color: white;
    font-size: 25px;
    transition: .3s;
}
.social a:hover i{
    color: #CEDF05;
}
.b_right{

}
.b_right img{
    width: 100%;
}
